@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #0D0D52;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-albert-sans);
  --font-serif: var(--font-playfair);
}

body {
  font-family: var(--font-sans);
  background-color: var(--background);
  color: var(--foreground);
}